h1 {
    text-align: center;
}
 th {
     background-color: white;
     color: white;
 }
 table  {
     border-collapse: collapse;
 }


 tr:nth-child(even) {
     background-color: white;
 }
 tfoot td {
     border-top: 1px solid ghostwhite;
 }
tfoot {
    background-color: white;
}
button{
    width: 25px;
    height: 25px;
}
td, tx {
    padding: 5px;
}
.money {
    text-align: right;
}
td, th{
    padding: 15px;
}
input {
    text-align: right;
    width: 14%;
}
